<settings>
	<category label="30100">
		<setting id="enableMeta" 		type="bool" label="30203" default="false" visible="true"/>
		<setting id="debug-enable" 	type="bool" label="30101" default="false" visible="true"/>
		<setting id="debug-show" 		type="bool" label="30102" default="false" visible="true"/>
	</category>
	<category label="Movie">
		<setting label="Clear Favorites" type="action" 	action="RunPlugin(plugin://plugin.video.theanimehighway/theanimehighway.py?mode=FavoritesEmpty&secction=movies)"/>
	</category>
	<category label="TV">
		<setting label="Clear Favorites" type="action" 	action="RunPlugin(plugin://plugin.video.theanimehighway/theanimehighway.py?mode=FavoritesEmpty&secction=tv)"/>
	</category>
</settings>